#member-selector {
    width: 50%;
}

#shuffle-button {
    text-align: center;
    width: 10%;
}

.can_go {
    background-color: #eef3f9 !important;
    font-weight: bold;
}

#teams-count {
    width: 40px;
}
